{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="mb-4">Employee Database</h2>
    <div class="">
        <div class="bg-secondary rounded h-100 p-4">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Serial Number</th>

                    </tr>
                </thead>
                <tbody>
                    {% for tools in toolmodels %}
                    <tr>
                    <td>{{ tools.item_name }}</td>
                    <td>{{ tools.description }}</td>
                    <td>{{ tools.manufacturer }}</td>
                    <td>{{ tools.serial_number }}</td>
                    <!-- Other table data -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}