{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="mb-4">Employee Timesheet Database</h2>
    <div class="">
        <div class="bg-secondary rounded h-100 p-4">
            <form method="post" action="{% url 'scanner:export_to_csv' %}">
                {% csrf_token %}

                <button id="exportButton" type="submit" class="btn btn-primary  w-50"><i class="fa fa-table me-2"></i>Export</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timesheet in time_model %}
                    <tr>
                    <td>{{ timesheet.user.firstName }}</td>
                    <td>{{ timesheet.user.lastName }}</td>
                    <td>{{ timesheet.user.employeeID }}</td>
                    <td>{{ timesheet.enter_date }}</td>
                    <td>{{ timesheet.enter_time }}</td>
                    <td>{{ timesheet.leave_time }}</td>
                    <td>{{ timesheet.duration }}</td>
                    <!-- Other table data -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <% //TODO: Add filter by user and date options %>
{% endblock %}